body {
    background-color: #44df6e;
    margin: 50px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: solid #21023d 2px;
    width: 80px;
    height: 80px;
    text-align: center;
}

.black-box {
    background-color: #B58763;
}

.white-box {
    background-color: #F2D9B4;
}

td.horz-labels {
    border: none;
    text-align: center;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #21023d;
}

td.vert-labels {
    border: none;
    text-align: center;
    width: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #21023d;
}

button {
    display: block;         /* Allows margin: auto to center the button */
    margin: 20px auto;      /* Centers horizontally and adds 20px space above/below */
    padding: 10px 20px;     /* Comfortable internal spacing (Top/Bottom Right/Left) */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 680px;
}

button:hover {
    background-color: aquamarine;
}

button:active {
    background-color: cornflowerblue;
}

img {
    width: 65px;
    height: 65px;
}